* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #121213;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #538d4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  z-index: 1000;
  border-bottom: 1px solid #333;
}

.leftside {
  font-weight: bold;
  font-size: 2.1 rem;
  font-family: "Times New Roman";
}

.rightside a {
  color: white;
  font-weight: 600;
  font-family: "Times New Roman";
  text-decoration: none;
  margin-left: 20px;
  font-size: 22px;
  transition: 0.2s;
}

.rightside a:hover {
  color: #06020b;
}

.intro {
  height: 60vh;

  background-image: url(pic.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.introcontent {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 30px;
  border-radius: 10px;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.1rem;
  color: #ddd;
}

.about {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  line-height: 1.6;
}

.about section {
  margin-bottom: 30px;
}

.about h2 {
  margin-bottom: 10px;
  color: #538d4e;
}

.about ul {
  padding-left: 20px;
}

.about li {
  margin-bottom: 5px;
}
